In [68]:
import numpy as np
from sklearn import preprocessing, neighbors,metrics
import pandas as pd
from sklearn import cross_validation

In [69]:
df= pd.read_csv('breast-cancer-wisconsin.data')

In [70]:
df.head()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epi_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [71]:
df.isnull().sum()

id                      0
clump_thickness         0
uniform_cell_size       0
uniform_cell_shape      0
marginal_adhesion       0
single_epi_cell_size    0
bare_nuclei             0
bland_chromation        0
normal_nucleoli         0
mitoses                 0
class                   0
dtype: int64

In [72]:
df.tail()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epi_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [73]:
df.replace('?',-99999, inplace=True)

In [74]:
df.drop(['id'],1)

,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epi_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
5,8,10,10,8,7,10,9,7,1,4
6,1,1,1,1,2,10,3,1,1,2
7,2,1,2,1,2,1,3,1,1,2
8,2,1,1,1,2,1,1,1,5,2
9,4,2,1,1,2,1,2,1,1,2
10,1,1,1,1,1,1,3,1,1,2
11,2,1,1,1,2,1,2,1,1,2
12,5,3,3,3,2,3,4,4,1,4
13,1,1,1,1,2,3,3,1,1,2
14,8,7,5,10,7,9,5,5,4,4
15,7,4,6,4,6,1,4,3,1,4
16,4,1,1,1,2,1,2,1,1,2
17,4,1,1,1,2,1,3,1,1,2
18,10,7,7,6,4,10,4,1,2,4
19,6,1,1,1,2,1,3,1,1,2
20,7,3,2,10,5,10,5,4,4,4
21,10,5,5,3,6,7,7,10,1,4
22,3,1,1,1,2,1,2,1,1,2
23,8,4,5,1,2,-99999,7,3,1,4
24,1,1,1,1,2,1,3,1,1,2
25,5,2,3,4,2,7,3,6,1,4
26,3,2,1,1,1,1,2,1,1,2
27,5,1,1,1,2,1,2,1,1,2
28,2,1,1,1,2,1,2,1,1,2
29,1,1,3,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,4
670,3,10,7,8,5,8,7,4,1,4
671,3,2,1,2,2,1,3,1,1,2
672,2,1,1,1,2,1,3,1,1,2
673,5,3,2,1,3,1,1,1,1,2
674,1,1,1,1,2,1,2,1,1,2
675,4,1,4,1,2,1,1,1,1,2
676,1,1,2,1,2,1,2,1,1,2
677,5,1,1,1,2,1,1,1,1,2
678,1,1,1,1,2,1,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,10,10,10,10,5,10,10,10,7,4
681,5,10,10,10,4,10,5,6,3,4
682,5,1,1,1,2,1,3,2,1,2
683,1,1,1,1,2,1,1,1,1,2
684,1,1,1,1,2,1,1,1,1,2
685,1,1,1,1,2,1,1,1,1,2
686,1,1,1,1,2,1,1,1,1,2
687,3,1,1,1,2,1,2,3,1,2
688,4,1,1,1,2,1,1,1,1,2
689,1,1,1,1,2,1,1,1,8,2
690,1,1,1,3,2,1,1,1,1,2
691,5,10,10,5,4,5,4,4,1,4
692,3,1,1,1,2,1,1,1,1,2
693,3,1,1,1,2,1,2,1,2,2
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [75]:
X= np.array(df.drop(['class'],1))

In [76]:
y= np.array(df['class'])

In [77]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

In [78]:
clf= neighbors.KNeighborsClassifier()

In [79]:
clf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [80]:
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.657142857143

In [81]:
pred=clf.predict(X_test)

In [82]:
metrics.accuracy_score(y_test,pred)

0.65714285714285714

In [83]:
 #what happens when we do indeed include truly meaningless and misleading data by 
# commenting out the dropping of the id column

In [84]:
import numpy as np
from sklearn import preprocessing, cross_validation, neighbors
import pandas as pd

df = pd.read_csv('breast-cancer-wisconsin.data')
df.replace('?',-99999, inplace=True)
#df.drop(['id'], 1, inplace=True)

X = np.array(df.drop(['class'], 1))
y = np.array(df['class'])

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.6

In [87]:
example_measures = np.array([4,2,1,1,1,2,3,2,1,1])
example_measures = example_measures.reshape(1, -1)
prediction = clf.predict(example_measures)
print(prediction)

[4]